@model IList<SRP.Models.DTOs.SRPUserDTO>
@{
    ViewData["Title"] = "Użytkownicy zablokowani";
}
<partial name="_StatusMessage" model="@TempData["Message"]" />

<h3>@ViewData["Title"]</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Email</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userDto in Model)
        {
            <tr>
                <td>@userDto.FirstName</td>
                <td>@userDto.LastName</td>
                <td>@userDto.Email</td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Zarządzaj
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" asp-controller="Users" asp-action="Details" asp-route-id="@userDto.Id">Szczegóły</a>
                            </li>
                            <li>
                                @if (userDto.IsLockedOut)
                                {
                                    <a class="dropdown-item" asp-controller="Users" asp-action="UnlockUser" asp-route-id="@userDto.Id">Odblokuj</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-controller="Users" asp-action="LockoutUser" asp-route-id="@userDto.Id">Zablokuj</a>
                                }
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>