@model IList<Application.DTOs.SRPUserDTO>
@{
    ViewData["Title"] = "Użytkownicy niepotwierdzeni";
}


<h3>@ViewData["Title"]</h3>
<hr />
<table class="table text-white">
    <thead>
        <tr>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Numer Konta</th>
            <th scope="col">Departament</th>
            <th scope="col">Wydział</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userDto in Model)
        {
        <tr>
            <td>@userDto.FirstName</td>
            <td>@userDto.LastName</td>
            <td>@userDto.UserName</td>
            <td>
                <a class="btn btn-outline-custom" asp-controller="Users" asp-action="Confirm" asp-route-id="@userDto.Id">Potwierdź użytkownika</a>
            </td>
        </tr>
        }
    </tbody>
</table>
